<div class="row">
    <div class="col-md-12">
        <h2>{{recipe.name}}</h2>
    </div>
    <div class="col-md-12">
        <img class="selectedRecipe" [src]="recipe.imagePath" [alt]="recipe.name" />
    </div>
    <div class="col-12">
        
    </div>
    <div class="col-12">
        <div class="btn-group" appDropDown #r="athul">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                Manage Recipes<span class="caret"></span>
            </button>
            <ul class="dropdown-menu" [ngClass]="{'show' : r.isOpen}">
                <li (click)="addToShoppingList()" routerLink="/shopping-list"><a >To Shopping list</a></li>
                <li (click)="editRecipe()"><a>Edit Recipe</a></li>
                <li><a (click)="deleteRecipe()">Delete Recipe</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-12">
        {{recipe.description}}
    </div>
    <div class="col-md-12">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let ingradient of recipe.ingradients">
                {{ingradient.name}} - {{ingradient.amount}}
            </li>
        </ul>
    </div>
</div>

