<div class="row">
  <div class="col-md-12">
    <form (ngSubmit)="addItem(f)" #f="ngForm">
      <div class="row">
        <div class="col-md-5 form-group">
          <label for="name">Name</label>
          <input type="text" name="name" ngModel  #name="ngModel" id="name" class="form-control" required />
        </div>
        <div class="col-md-2 form-group">
          <label for="amount">Amount</label>
          <input type="number" name="amount" id="amount" ngModel #amount="ngModel" class="form-control" required />
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button type="submit" class="btn btn-success" [disabled]="!f.valid">Add</button>
          <button *ngIf="index" type='button' class="btn btn-danger" (click)="deleteItem(f)">Delete</button>
          <button type='button' class="btn btn-primary" (click)="clearItem(f)">Clear</button>
        </div>
      </div>
    </form>
    
  </div>
</div>
